DATETIME_FORMAT='%Y-%m-%d %H:%M:%S'
SECRET_KEY='BSVIiuYZcTAzHRe07NzEgYqveb6mFkdj'
FLASK_ENV='development'
FLASK_DEBUG=True
JWT_ALGORITHM='HS256'
JWT_TOKEN_TIME_OUT_IN_MINUTES=54984
JWT_REFRESH_TOKEN_TIME_OUT_IN_MINUTES=525600
ENABLE_AUTH=True
PORT=8080
SQLALCHEMY_DATABASE_URI = 'postgresql://postgres:iphone21@34.100.138.1:5432/postgres'