<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div>
<div style="background-color:#d6dbdf;width:800px;height:300px">
    <div style="background-color:#3371ff;width:500px;height:80px;margin-left:140px">
        <p style="color:white;position:absolute;font-size:25px;text-align:center;margin:0 auto">Name here
        </p>
    </div>
    <div style="background-color:white;width:500px;margin-left:140px;height:200px;text-align:center">
        <h3>Please <a href="{{data}}">
            click here
        </a>
             to activate email.
        </h3>
    </div>
</div>
</div>
</body>
</html>